<header id="nav-header">
    <div class="brand">
        <a href="{{ path('home') }}">
            <img id="brand" src="{{ asset('build/images/quiz.png') }}">
        </a>
    </div>
    <nav id="navbar">
        <ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                <li><a href="{{ path('quizzes') }}">Quiz</a></li>
                <li><a href="{{ path('user_quizzes') }}">Your Quizzes</a></li>
                <li><a href="{{ path('create_quiz') }}">Create Quiz</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>